Package: cf.1di4r.youup
Name: You up?
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), com.spark.libsparkcolourpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Making sure you won't fall asleep after alarm.
Maintainer: 1di4r
Author: 1di4r
Section: Tweaks
Icon: http://1di4r.cf/Youup/Youup-icon.png