Package: com.twickd.1di4r.you-up
Name: You up?
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), ws.hbang.alderis (>= 1.1)
Version: 1.7.1
Architecture: iphoneos-arm
Description: Solve math equations before dismissing your alarm.
Maintainer: 1di4r
Author: 1di4r
Section: Tweaks
Icon: http://1di4r.cf/Youup/Youup-icon.png
